@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  overflow-x: hidden;
  background-color: #f8f8f8;
  color: #464646;
  scroll-behavior: smooth;
}

li,
ul,
p,
a {
  text-decoration: none;
  list-style: none;
  font-size: 0.9rem;
  color: #464646;
}

button {
  cursor: pointer;
}
